<!-- <app-dashboard></app-dashboard>
<app-reviews></app-reviews>
<app-average-rating></app-average-rating>
<app-sentiment-analysis></app-sentiment-analysis>
<app-website-visitors></app-website-visitors> -->
<!-- 
<div class="grid-container">
  <div class="grid-item" id="g1"><app-dashboard></app-dashboard>1</div>
  <div class="grid-item" id="g2"><app-reviews></app-reviews>2</div>
  <div class="grid-item" id="g3">
    <app-average-rating></app-average-rating>3
  </div>
  <div class="grid-item" id="g4">
    <app-sentiment-analysis></app-sentiment-analysis>4
  </div>
  <div class="grid-item" id="g4">
    <app-website-visitors></app-website-visitors>5
  </div>
</div> -->

<div class="grid-container">
  <header class="header">
    <div class="header__search">Search...</div>
    <div class="header__avatar">picture image?</div>
  </header>
  <aside class="sidenav">dashboard<app-dashboard></app-dashboard></aside>
  <main class="main">
    main section
    <div class="main-overview">
      <div class="overviewcard">
        <div class="overviewcard__icon">
          Overview<app-reviews></app-reviews>
        </div>
        <div class="overviewcard__info">Card</div>
      </div>
      <div class="overviewcard">
        <div class="overviewcard__icon">
          Overview<app-website-visitors></app-website-visitors>
        </div>
        <div class="overviewcard__info">Card</div>
      </div>
      <div class="overviewcard">
        <div class="overviewcard__icon">Overview</div>
        <div class="overviewcard__info">Card</div>
      </div>
    </div>
    <!--another main section with larger cards-->
    <div class="main-cards">
      <div class="card">
        Card<app-average-rating></app-average-rating>
        <div class="inner"></div>
      </div>
      <div class="card">
        Card<app-sentiment-analysis></app-sentiment-analysis>
      </div>
      <div class="card">Card</div>
    </div>
  </main>
  <footer class="footer">
    <div class="footer__copyright">
      copyright legal chatter that i know nothing about
    </div>
    <div class="footer__signature">Made by Naes</div>
  </footer>
</div>
