/* (A) 3 COLUMNS PER ROW */
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  color: rgba(56, 56, 56, 0.75);
  overflow-x: hidden;
  background-color: #54acff;
  background-image: linear-gradient(
    75deg,
    #f8f3a8 0%,
    hsl(274, 100%, 89%) 46%,
    #f0f0f0 100%
  );
  overflow-y: hidden;
  display: inline;
}
* {
  justify-content: center;
}
#grid {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-gap: auto;
  column-gap: 9px;
  row-gap: 9px;
  justify-content: center;
  align-content: center;
}
/* (B) 1 COL ON SMALL SCREENS */
/* @media screen and (max-width: 768px) {
  #grid {
    grid-template-columns: 100px 100px 100px;
  }
} */
/* (C) OPTIONAL FOR THE CELLS */

/*.head {
  font-weight: bold;
  border: 1px solid #f18e8e;
  background: #ffbfbf;
}*/

.cell {
  border: 1px solid #c2ba3c;
  background: #f8ffde;
}
cell:hover {
  opacity: 2;
}

h1 {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
p {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}

img {
  max-width: auto;
  max-height: 200px;
}

img:hover {
  cursor: pointer;
}

.head,  /*may not need this .head*/
.cell {
  width: auto; /*adjusting the size of the cell only*/
  height: auto;
}

.memory-grid {
  border: 1px solid #c2ba3c;
  width: 825px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: auto;
}

.navitem {
  display: inline;
  width: 70px;
  height: 40px;
  border: gray;
  background-color: #cc5e36;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.button-class {
  justify-content: center;
}

button:hover {
  opacity: 2;
}

.resetSection {
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 2rem auto;
}

.watch0 {
  text-align: center;
  margin: 0.25rem;
  font-size: x-large;
}

.watch1 {
  text-align: center;
  margin: 0.25rem;
  font-size: x-large;
}

header {
  font-size: x-large;
  font-family: Impact, Haettenschweiler, "Arial Bold", sans-serif;
}
