* {
  /* height & width now includes border & padding */
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica;
}
nav {
  display: flex; /* goes from verticle to horizontal*/
  height: 50px;
  background-color: rgb(142, 142, 40);
  font-size; 20px;
  justify-content: center;

}


div {
  color: whitesmoke;
  font-size: 20px;
  margin: 10px; 
  display: flex;
  justify-content: center; bottom;
  
}

/* margin: 10px - bt what do you attach it to?
- you need to target the children by selecting the div*/

nav:last-child{
  margin-left: auto;
}